* {
    background-color: rgb(41, 39, 36);
    text-align: center;
}

h1 {
    display: flex;
    justify-content: center;
    color: yellow;
    width: 450px;
    font-size: 50px;
    transition: color 1s ease;
    margin: 0 auto;
    font-weight: bold;
    border-radius: 40px;
    background-color: black;
    margin-bottom: 40px;
    margin-top: 40px;
}

ul {
    list-style: none;
    
}

input {
    width: 300px;
    height: 50px;
    font-size: 45px;
    color: white;
    background-color: orange;
    margin-left: 40px;
    border-radius: 20px;
}

button {
    font-weight: bold;
    font-size: 30px;
    color: white;
    background-image: linear-gradient(yellow, orange, red);
    border-radius: 40px;
    border-color: white;
    width: 100px;
    height: 100px;
    cursor: pointer;
}

.Left-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: -420px;
    cursor: pointer;
    position: absolute;
    left: 500px;
}

.buttons2 {
   margin-left: 45px;
   cursor: pointer;
}

.operator-btn {
    background-image: linear-gradient(rgb(233, 72, 8), red);
    cursor: pointer;
}